<h1>{{ name }}</h1>

<dl>
  <td>Nombre: </td>
  <dd>{{ name }}</dd>

  <td>Edad: </td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>

</dl>

<div *ngIf="name!=='spiderman'">
  <button class="btn btn-primary mx-2" (click)="changeHero()">
    Cambiar nombre
  </button>
</div>
<div *ngIf="age!==30">
  <button class="btn btn-primary mx-2" (click)="changeAge()">
    Cambiar edad
  </button>
</div>
<div *ngIf="name!=='ironman' && age!==45">
  <button class="btn btn-primary" (click)="resetForm()">
    Reset
  </button>
</div>
